/* General styles */
.App {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App-header{
  width: 720px;
}

@media only screen and (min-width: 390px)
{
  .App-header {
    width: 320px;
  }



  .dialog-content {
    width: 90%;
    max-width: 90%;
  }

  .css-1bp1ao6{
    width: 44%;
  }

}


/* Adjustments for mobile screens */
@media only screen and (max-width: 768px) {
  .App {
    padding: 10px; /* Add some padding for spacing */
  }
  
  /* Adjust the modal width for mobile */
  .dialog-content {
    width: 100%;
    max-width: 100%;
  }
}

/* Flexbox styles */
.filter-container,
.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjustments for Task Cards */
.Card {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Ensure it takes full width */
  margin-bottom: 10px; /* Add spacing between cards */
}

/* Adjust the card content for mobile */
.CardContent {
  flex: 1; /* Allow content to grow */
  padding: 10px; /* Add some padding */
}

/* Adjustments for typography and other elements */
.App-header,
h2,
h4,
p,
span {
  max-width: 100%; /* Ensure text doesn't overflow on mobile */
}

/* Adjustments for TextField */
.TextField {
  width: 100%; /* Ensure the TextField takes full width on mobile */
}
