.App {
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  
}

.App-header {
  padding: 20px 50px 20px 50px;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
} */

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 48px; /* Adjust font size as needed */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.add-button:hover {
  transform: scale(.9); /* Add hover effect */
}

.plus-sign {
  margin-right: 10px; /* Add space between the plus sign and text */
}

.button-text {
  font-size: 24px; /* Adjust font size as needed */
}

/* /////////////////// */
/* General styles */
.App {
  width: 100vw;
  margin: 0;
  padding: 20px 50px 20px 50px;
  font-family: 'Arial', sans-serif;
}



/* @media only screen and (max-width: 390px)
{

  .App {
    width: 300px;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  .App-header {
    width: 320px;
  }

  .dialog-content {
    width: 90%;
    max-width: 90%;
  }


}
 */




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 48px; /* Adjust font size as needed */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.add-button:hover {
  transform: scale(.9); /* Add hover effect */
}

.plus-sign {
  margin-right: 10px; /* Add space between the plus sign and text */
}

.button-text {
  font-size: 24px; /* Adjust font size as needed */
}

/* ... (Your previous styles) ... */

@media only screen 
    and (width: 390px) 
    and (height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
      .App {
        width: 100vw
        /* padding: 10px 10px; Add horizontal padding for better spacing */
        /* margin-left: 30px; */
      }
    
      .App-header {
        width: 100%; /* Adjust header width for better mobile view */
      }
    
      .add-button {
        padding: 15px; /* Slightly reduce padding for better mobile appearance */
        font-size: 36px; /* Reduce font size for better mobile appearance */
      }
    
      .plus-sign {
        margin-right: 8px; /* Slightly reduce space for better mobile appearance */
      }
    
      .button-text {
        font-size: 18px; /* Reduce font size for better mobile appearance */
      }


     }




     .task-box {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    
    .task-box-card {
      width: 100%; /* Initially, set width to 100% for one column layout */
    
      /* For large screens, set width to 48% for two columns */
      @media (min-width: 768px) {
        width: 100%;
      }
    }
.status-banner{
  margin-top:-10px;
  width: 100%;
  margin-bottom: 5px


}



/* Adjustments for phone screens */
@media only screen and (max-width: 480px) {
  .App {
    width: 100%; /* Adjust to full width for better mobile view */
    padding: 10px 10px; /* Add horizontal padding for better spacing */
    margin-left: 30px;
  }

  .App-header {
    width: 100%; /* Adjust header width for better mobile view */
  }

  .add-button {
    padding: 15px; /* Slightly reduce padding for better mobile appearance */
    font-size: 36px; /* Reduce font size for better mobile appearance */
  }

  .plus-sign {
    margin-right: 8px; /* Slightly reduce space for better mobile appearance */
  }

  .button-text {
    font-size: 18px; /* Reduce font size for better mobile appearance */
  }

  /* Add any other specific adjustments you might need for phone screens */
}

/* ... (Your previous styles) ... */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.toast h1 {
  margin: 0;
  font-size: 18px;
}

.card {
  position: relative;
  width: 100vw;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 0px;
   
}

.content {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute; /* Changed from relative to absolute */
  height: 300px;
  width: 100%;
  background: white;
  /* line-height: 300px; */
  color: #03446A;
  /* text-align: center; */
  /* font-size: 60px; */
  border-radius: 5px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket{
    text-align: center;
  font-size: 50px; 

}

.back {
  background: #03446A;
  color: white;
  transform: rotateY(180deg);
}




/* Added hover effect for flipping */
.card:hover .content {
  transform: rotateY(180deg);
}
.button-container{
  display: flex;
  align-content: space-around;
}

table {
  width: 100%;
  height: 300px;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: grey;
  overflow-y: scroll;
}





th, td {
  border: 1px solid #dddddd;
  text-align: left;
  height: 20px;
  /* padding: 8px; */
  background-color: #007bff;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.table-container {
  height: 300px;
  overflow: auto;
}

.table-body {
  display: block;
  max-height: 100%;
  overflow-y: auto;
}

.task-modal{
  position: absolute;
  top:25%;
  display: flex;
flex-direction: column;
  z-index: 2000;
  width: 80%;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;

}

.task-modal-title{
  background-color: lightblue;
  width: 100%;
  height: 10%;
  font-size: 50px;

}

.task-modal-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  text-align: center;
  justify-items: center;

}.task-modal-content-container{

  width: 80%;
  border: #282c34 2px solid;
  align-self: center;
 

}
.check-list-map{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px ;
  border: black solid 2px ;
  min-height: 150px;
  max-height: 150px;
width: 90%;  
margin-left: 5px;
}

.check-list-map:hover{
  background-color: grey;

}

.check-list-name{
  width: 70%;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-bottom: 5px;
 
   color: #333;

}

.image-box{
  width: 30%;
  display: flex;
  flex-direction:column ;
  align-items: center;
  border: whitesmoke 5px dotted;

  
}


.task-main-container{
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;

}

.camera-container{
  width: 100%;
  align-items: center;
  background-color: grey;
  justify-content: center;
}

.add-to-list-input{
  width: 100%;
  background-color: silver;
  height: 75px;
  border: 2px solid black;
  justify-content: center;
  margin-top: 10px;
}

.notes-card{
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9 

}

